<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orange!!</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">    
    </head>

    <body>
        <div class="welcome-page">
            </style>
            <div class="home-container">
                <div class="home">
                    <h1>Orange!!</h1>
                </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In suscipit doloribus perferendis totam corporis assumenda quas sunt reiciendis explicabo, sapiente amet corrupti consectetur dicta accusamus voluptatibus tempore tenetur debitis rem?
                </p>
            </div>
                </div>
            </div>
        </section>
    </body>
</html>