<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Citrus</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">    
    </head>

    <body>
        <section class="welcome-page">
            </style>
            <div class="welcome-container">
                <div class="Home">
                    <h1>Welcome to the Novel</h1>
                </div>
            </div>
        </section>
    </body>
</html>