<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="Header">
        title
   </div> 
   <div class="Body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium facere est, quaerat quam illum earum quidem odio eveniet officia commodi vero? Dolorum soluta fuga provident error enim corrupti in amet?</p>
   </div>
   <div class="Footer">
    <h3><a href="">previous</a></h3>
    <h3><a href="">next</a></h3>
   </div>

</body>
</html>